* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(160deg, #141414, #2c1f1f);
    color: white;
}

/* CONTAINER */

.container {
    max-width: 520px;
    margin: auto;
    padding: 20px 18px 60px;
}

/* HEADER */

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/* CATEGORY BUTTON */

.category-btn {
    width: 100%;
    padding: 16px;

    font-size: 18px;
    font-weight: 500;
    color: white;

    border: none;
    border-radius: 14px;

    background: rgba(3, 47, 27, 0.456);
    backdrop-filter: blur(12px);

    cursor: pointer;
    transition: 0.25s;
}

.category-btn:hover {
    background: rgba(255,255,255,0.18);
    transform: translateY(-2px);
}

/* CATEGORY CONTENT */

.category-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* PRODUCT CARD */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    margin-top: 12px;

    border-radius: 16px;

    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    transition: 0.25s;
}

.card:hover {
    transform: scale(1.02);
    background: rgba(255,255,255,0.12);
}

/* NAME */

.card span:first-child {
    font-weight: 400;
    font-size: 16px;
}

/* PRICE */

.price {
    font-weight: 600;
    font-size: 16px;
    opacity: 0.9;
}
