* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background:#F6F2ED;
;
    color: #4A3B2A;

}

/* CONTAINER */

.container {
    max-width: 420px;   /* idealno za QR meni */
    margin: 0 auto;
    padding: 0 16px;
}

/* HEADER */

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.category {
    
    padding: 12px;
    border-radius: 18px;
    background: rgba(217, 207, 199, 0.25);
}

/* CATEGORY BUTTON */

.category-btn {

    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 16px;

    font-size: 18px;
    font-weight: 500;
    color: white;

    border: none;
    border-radius: 14px;

    background: rgb(217, 207, 199);
    backdrop-filter: blur(12px);

    cursor: pointer;
    transition: 0.25s;
}
.category-btn:active {
    transform: scale(0.97);
    background: #cbb6a2;
}


.category-btn:hover {
    background: rgb(201, 181, 156);
    transform: translateY(-2px);
}

/* CATEGORY CONTENT */

.category-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* PRODUCT CARD */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    margin-top: 10px;

    border-radius: 14px;

    background: white;
    

    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);

    transition: 0.25s;
}

.card:hover {
    transform: translateY(-2px);
   
}

/* NAME */

.card span:first-child {
    font-weight: 400;
    font-size: 16px;
}

/* PRICE */

.price {
    font-weight: 700;
    font-size: 16px;
    opacity: 0.9;
    color: #8C6A4E;

}

.header {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
}

.logo {
    width: clamp(130px, 35vw, 180px);
    height: auto;
    filter: brightness(0) sepia(1) saturate(600%);
    opacity: 0.95;
}

body {
    margin: 0;
}